apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
        - name: nodejs-app
          image: mohamedabdelsattar12/java
          envFrom:
            - configMapRef:
                name: nodejs-config
          ports:
            - containerPort: 3000
          volumeMounts:
            - mountPath: /usr/src/app/data
              name: nodejs-storage
      volumes:
        - name: nodejs-storage
          persistentVolumeClaim:
            claimName: nodejs-pvc

